/***********************
    1.FONT
    2.BASIC
    3.Desktop/Web
    4.Mobile 991px
    5.Mobile 768px
************************/


/*======================
        1.FONT
========================*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&amp;display=swap');

/*======================
        2.BASIC
========================*/

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", Arial, sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/*======================
        3.Desktop/Web
========================*/


/* Navbar section */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #42455a;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
}

header nav ul li {
    margin-right: 3rem;
}

header nav ul li a {
    text-decoration: none;
    color: #b2b1b1;
    font-size: 16px;
    padding: .5rem 0.5rem;
}

header .logo {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin-right: 70px;
    color: #b2b1b1;
}

header .logo ul {
    list-style: none;
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 70px;
    align-items: center;
    justify-content: space-around;
}

header .logo .logo_img {
    height: 40px;
    width: auto;
}

header .btn-mobile {
    font-size: 25px;
    color: #b2b1b1;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.fa-times {
    transform: rotateZ(180deg);
}


/* home section */

#home {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;
    background: #42455a;
}

#home .banner-picture img {
    width: 35vw;
}

#home .content h2 {
    font-size: 17px;
    color: white;
}

#home .content h1 {
    font-size: 43px;
    color: white;
}

#home .content p {
    font-size: 15px;
    color: #e1b783;
    line-height: 25px;
}

#home .content p span {
    color: white;
}

#home .content .cv-btn {
    outline: none;
    border: 2px solid transparent;
    color: #2d2e34;
    border-radius: 10px;
    cursor: pointer;
    margin: 2rem 0;
    height: 40px;
    border: 2px solid transparent;
    background-image: #fff;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#home .content .cv-btn .cv-text {
    margin: 17px;
    font-size: 13px;
    font-weight: bold;
}

#home .content .isosmed {
    margin: auto 10px;
    cursor: pointer;
    font-size: 20px;
    display: inline;
}

#home .content .isosmed a {
    margin: auto 10px;
    color: white;
}


/* about section */